body{
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;

}
.heading{
    width:100%;
margin:0px;
font-size: 25px;
}
#start{
    font-size: 20px;
}
h3{
    font-family:'Georgia',Serif;
}
.copy_right_footer{
    background-color: gainsboro;
    color: black;
    width: 100%;
    position: fixed;
    text-align: center;
    bottom:0;
padding-top: 5px;
padding-bottom: 5px;
}
canvas{
    border:2px black solid;
    margin-top:40px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}